/* All Font Face Declarations */

/* Mada Font - Body Text (Variable Font) */
@font-face {
  font-family: 'Mada';
  src: url('/fonts/mada/Mada-Variable.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

/* El Messiri Font - Headings (Variable Font) */
@font-face {
  font-family: 'El Messiri';
  src: url('/fonts/el-messiri/ElMessiri-Variable.woff2')
    format('woff2-variations');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

/* Tajawal Font - Alternative */
@font-face {
  font-family: 'Tajawal';
  src: url('/fonts/tajawal/Tajawal-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('/fonts/tajawal/Tajawal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('/fonts/tajawal/Tajawal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('/fonts/tajawal/Tajawal-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('/fonts/tajawal/Tajawal-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Quranic and Arabic Fonts */

/* UthmanicHafs - Primary Quranic Font */
@font-face {
  font-family: 'UthmanicHafs';
  src: url('/fonts/quranic/UthmanicHafs1Ver18.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Amiri - Alternative Arabic Font */
@font-face {
  font-family: 'Amiri';
  src:
    url('/fonts/amiri/Amiri-Regular.woff2') format('woff2'),
    url('/fonts/amiri/Amiri-Regular.woff') format('woff'),
    url('/fonts/amiri/Amiri-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amiri';
  src:
    url('/fonts/amiri/Amiri-Bold.woff') format('woff'),
    url('/fonts/amiri/Amiri-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* QCF Page-specific fonts for special styling */
@font-face {
  font-family: 'QCF_P556';
  src: url('/fonts/qcf/qcf_p556.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QCF_P557';
  src: url('/fonts/qcf/QCF_P557.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Surah Names Font for decorative headers */
@font-face {
  font-family: 'SurahNames';
  src: url('/fonts/quranic/sura_names.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
