backend:
  name: git-gateway
  branch: main

# When using the default proxy server port
local_backend: true

media_folder: public/images/uploads # Media files will be stored in the repo under public/images/uploads
public_folder: /images/uploads # The src attribute for uploaded media will begin with /images/uploads

collections:
  - name: 'actualites' # Used in routes, e.g., /admin/collections/actualites
    label: 'Actualités' # Used in the UI
    folder: 'content/actualites' # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: 'Titre', name: 'title', widget: 'string' }
      - { label: 'Date de publication', name: 'date', widget: 'datetime' }
      - { label: 'Auteur', name: 'author', widget: 'string', default: 'ACMSI' }
      - { label: 'Image de couverture', name: 'featured_image', widget: 'image', required: false }
      - { label: 'Résumé', name: 'excerpt', widget: 'text', required: false }
      - { label: 'Contenu', name: 'body', widget: 'markdown' }
      - { label: 'Publié', name: 'published', widget: 'boolean', default: true }
      - { label: 'Tags', name: 'tags', widget: 'list', required: false }
